version: 2.1

orbs:
  # node: circleci/node@4.3.0
  # aws-cli: circleci/aws-cli@2.0.2
  # jq: circleci/jq@2.2.0
  aws-ecr: circleci/aws-ecr@7.0.0

jobs:

workflows:
  version: 2
  primary:
    jobs:
      - aws-ecr/build-and-push-image:
          context: cuffney
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          create-repo: true
          dockerfile: Dockerfile
          no-output-timeout: 20m
          path: .
          region: AWS_DEFAULT_REGION
          repo: "jcuffney/cardano-node-${CIRCLE_BRANCH}"
          skip-when-tags-exist: false
          tag: "latest,${CIRCLE_SHA1}" 
          filters:
            branches:
              only:
                - dev 
                - master